body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.hero-section {
    background-color: #f0f8ff; /* Light Blue */
    padding: 5rem 0;
}

.featured-doctors {
    padding: 4rem 0;
}

.how-it-works {
    padding: 4rem 0;
    text-align: center;
}

.doctor-card {
    border: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 2rem 0;
}

#main-doc-patient-img {
    max-width: 85%;
}
